<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>HumanResources</title>
<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<script th:inline="javascript">
	/*<![CDATA[*/
	function myFunction() {
		document.getElementById("table-responsive1").style.visibility = "visible";
		document.getElementById("table-responsive").style.visibility = "false";
		console.log(4);
		}
	function edit_row(no)
	{
		document.getElementById("edit_button"+no).style.display="none";
		document.getElementById("save_button"+no).style.visibility="visible";
		// var ID=document.getElementById("department_ID"+no);
		// var name=document.getElementById("department_name"+no);
		// var loc=document.getElementById("department_loc"+no);
		// var div=document.getElementById("department_loc"+no);
		// var savebtn=document.getElementById("save_button"+no);
		// var ID_data=ID.innerHTML;
		// var name_data=name.innerHTML;
		// var loc_data=loc.innerHTML;
		// var x= [[${department}]];
		// console.log(x.deptid);
		// ID.innerHTML= "<input type='text'  th:id='department_ID"+no+"' text='"+ID_data+"'/>";
		// name.innerHTML="<input type='text' th:id='department_name"+no+"' text='"+name_data+"'>";
		// loc.innerHTML="<input type='text' th:id='department_loc"+no+"' text='"+loc_data+"'>";
	}
	/*]]>*/
</script>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Human Resources</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">
			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">Table</div>

			<!-- Nav Item - Pages Department Menu -->
			<li class="nav-item">
				<a class="nav-link" th:onclick="myFunction()" th:href="@{/Dep/getAll}" > 
					<i class="fas fa-fw fa-table">
					</i> <span>Department Table</span>
				</a>
			</li>
			<!-- Nav Item - Employee Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed"
				th:href="@{/Emp/getAll}" > <i class="fas fa-fw fa-wrench"></i> <span>Employees</span>
			</a></li>
			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">Create</div>

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item" >
				<a class="nav-link collapsed" th:href="@{/Dep/createdepartment}" >
				<span>	Create New Department</span>
			</a>
			</li>
			<!-- Create New Employee-->
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/Emp/createemployee}">
					<span>	Create New Employee</span>
			</a>
			</li>
			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
			<!-- Topbar Search -->
			<form
				class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
				th:action="@{/index/getID}" >
				<div class="input-group">
					<input type="text" class="form-control bg-light border-0 small"
						th:name="ID" placeholder="Search for..." aria-label="Search"
						aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button">
							<i class="fas fa-search fa-sm"></i>
						</button>
					</div>
				</div>
			</form>
			<ul>
				<!-- Nav Item - User Information -->
				<li class="nav-item dropdown no-arrow">
					<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
						<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
					</a>
					<!-- Dropdown - User Information -->
					<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
						<a class="dropdown-item" href="#">
							<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
							Profile
						</a>
						<a class="dropdown-item" href="#">
							<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
							Settings
						</a>
						<a class="dropdown-item" href="#">
							<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
							Activity Log
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
							Logout
						</a>
					</div>
				</li>
			</li>
			</ul>
			</nav>

			<div id="table-responsive1" >
				<table class="table table-bordered" id="departmentTable" width="100%" >
						<tr>
							<th>Department ID</th>
							<th>Department Name</th>
							<th>Department Location</th>
							<th><b>Operation</b></th>
						</tr>
						<tr th:each="department: ${department}">
							<td th:id="'department_ID' + ${department.deptid}" th:text="${department.deptid}"/>
							<td th:id="'department_name' + ${department.deptid}" th:text="${department.name}"/>
							<td th:id="'department_loc' + ${department.deptid}" th:text="${department.loc}" />
							<td>
								<form action="#" th:action="@{/Dep/delete}" th:object="${department}" th:method="delete">
									<input type="hidden" name="deptid" th:value="${department.deptid}">
									<button type="submit">Delete</button>
								</form >
								<input type="button" th:id="'edit_button' + ${department.deptid}"  value="Edit" class="edit" th:onclick="'edit_row(' + ${department.deptid} + ')'"/>
								<form  action="#" th:action="@{/Dep/update}"  th:id="'save_button' + ${department.deptid}"  th:method="put" style="visibility:collapse;"/>
								<input type="hidden" name="deptid" th:value="${department.deptid}">
								<input type="text" name="name" th:value="${department.name}">
								<input type="text" name="loc" th:value="${department.loc}">
								<button type="submit">Save</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			
			<div id="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%">
						<tr>
							<th>Employee ID</th>
							<th>Employee Name</th>
							<th>Employee Job</th>
							<th>Employee manager</th>
							<th>Employee hire date</th>
							<th>Employee salary</th>
							<th>Employee Department ID</th>
							<th>Operation</th>					
						</tr>
						<tr th:each="employee: ${employee}">
							<td th:text="${employee.empid}"></td>
							<td th:text="${employee.name}"></td>
							<td th:text="${employee.job}"></td>
							<td th:text="${employee.manager}"></td>
							<td th:text="${employee.hiredate}"></td>
							<td th:text="${employee.salary}"></td>
							<td th:text="${employee.deptid}"></td>
							<td>
								<form action="#" th:action="@{/Emp/delete}"
									th:object="${employee}" th:method="delete">
									<input type="hidden" name="empid" th:value="${employee.empid}"> 
									<button type="submit">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			
			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; ChunYU Website 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Page Wrapper -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
